#myContainer {
    width: 800px;
    height: 800px;
    position: relative;
    background: white;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
}

#score {
    font-weight: 600;
    color: white;
    padding: 5px;
}

#div1,
#div2,
#div3,
#div4,
#div5 {
    width: 400px;
    height: 300px;
    float: left;
    /* margin-bottom: 40px; */
    border: 1px dashed chartreuse;
    vertical-align: middle;
}

.insideDiv {
    border: 1px solid chartreuse;
    color: blue;
    background-color: chartreuse;
    font-weight: 600;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.bar {
    background-color: cornflowerblue;
    padding: 5px;
    color: yellow;
    margin-top: 10px;
    text-align: center;
}

.btn {
    border: 0;
    background-color: #f1c40f;
    padding: 5px;
    width: 100px;
    margin-left: 5px;
    color: white;
    border-radius: 0px;
}

/* .btn:hover {background-color: #ee9716} */

.btn:active {
    background-color: #f1c40f;
    box-shadow: 0 1px orange;
    transform: translateY(1px);
}